<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="public/style.css"/>
        <title>Add movie</title>
    </head>
    <body>
        <header>Add movie</header>
        <form action="/add" method="post">
            <label for="movie-title">Title</label>
            <input id="movie-title" name="title">
            <label for="movie-year">Year</label>
            <input id="movie-year" name="year">
            <button type="submit">Add</button>
        </form>
    </body>
</html>