<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="public/style.css"/>
        <title>Find movie</title>
    </head>
    <body>
        <header>Find movie</header>
        <nav>
            <a href="/">Return</a>
        </nav>
        <div id="form-container">
            <form action="/find" method="post">
                <div>
                    <label for="movie-title">Title:</label>
                    <input id="movie-title" name="title">
                </div>
                <button type="submit">Find</button>
            </form>
        </div>
        <% if(locals.searchResult) { %>
            <div id="search-results">
                <h3 id="search-results-header">Movies found:</h3>
                <ul>
                    <% searchResult.forEach((movie) => { %>
                        <li><%= movie.title %> (<%= movie.year %>)</li>
                    <% }) %>
                </ul>
            </div>
        <% } %>
    </body>
</html>