<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="public/style.css"/>
        <title>Find movie</title>
    </head>
    <body>
        <header>Find movie</header>
        <nav>
            <a href="/">Return</a>
        </nav>
        <div id="form-container">
            <form action="/find" method="post">
                <div>
                    <label for="movie-title">Title:</label>
                    <input id="movie-title" name="title">
                </div>
                <button type="submit">Find</button>
            </form>
        </div>
    </body>
</html>