<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="public/style.css"/>
        <title>Find movie</title>
    </head>
    <body>
        <header>Find movie</header>
        <nav>
            <a href="/">Return</a>
        </nav>
        <div class="centered-container">
            <form action="/find" method="post">
                <div>
                    <label for="movie-title">Title:</label>
                    <input id="movie-title" name="title">
                </div>
                <button type="submit">Find</button>
            </form>
        </div>
        <% if(locals.searchResult) { %>
            <div id="search-results">
                <h3 id="search-results-header">Movies found:</h3>
                <ul>
                    <% searchResult.forEach((movie) => { %>
                        <li>
                            <a href= <%= "/movie/" + movie._id %> >
                                <%= movie.title %>
                                <% if(movie.year) { %>
                                    (<%= movie.year %>)
                                <% } else { %>
                                    (-)
                                <% } %>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </div>
        <% } %>
    </body>
</html>