<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/public/style.css"/>
        <title>Movie details</title>
    </head>
    <body>
        <header>Movie details</header>
        <nav>
            <a href="/">Home</a>
        </nav>
        <div class="centered-container">
            <div class="movie-details">
                <h1><%= movie.title %></h1>
                <h6><%= movie.year %></h6>

                <p>Movie description</p>
            </div>
        </div>
    </body>
</html>